<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Переход на страницу оплаты</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	</head>

	<body>
		<header>
			<h1>Переход на страницу оплаты</h1>
		</header>
		<form method="post" action="https://merchant.w1.ru/checkout/default.aspx" accept-charset="UTF-8">
			{{form.as_p}}
			<p>Сейчас вы будете перенаправлены на страницу оплаты. Если этого не происходит, нажмите
				<button class="btn btn-primary" type="submit">здесь</button></p>
		</form>
	</body>
</html>
